@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcomeddd</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>I have a pen, i never a have a book, go to school</p>
    <p>I have a pen, i never a have a book, go to school</p>
    <p>ami akhon ja ja kori ta ta rebuild hocche</p>
    <b>jituu</b>
</div>
